{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/content_style.css') }}">
{% endblock %}

{% block content %}
<!-- Side Navbar -->
<div class="page-wrapper">
  <div class="content-navbar" id="navbar">
    <div class="navbar_content_container">
      <div class="learn-title">
        <a href="{{ url_for('learn_beginner') }}" id="learn-title">Beginner Content</a>
      </div>

      <ul>
        <li><a href="{{ url_for('buying_and_selling') }}">Buying and Selling</a></li>
        <li><a href="{{ url_for('how_to_make_money') }}">How to Make Money</a></li>
        <li><a href="{{ url_for('pips') }}">Pips</a></li>
        <li><a href="{{ url_for('lot_sizes') }}">Lots</a></li>
        <li><a href="{{ url_for('types_of_orders') }}">Types of Orders</a></li>
        <li><a href="{{ url_for('demo_vs_real') }}">Demo Vs Real</a></li>
        <li><a href="{{ url_for('trading_sessions') }}">Trading Sessions</a></li>
        <li><a href="{{ url_for('candles') }}">Candles</a></li>
      </ul>
      <div class="learn-title">
        <a href="{{ url_for('learn_intermediate') }}" id="learn-title">Intermediate Content</a>
      </div>
      <ul>
        <li><a href="{{ url_for('support_and_resistance') }}">Support and Resistance</a></li>
        <li><a href="{{ url_for('trends') }}">Trends</a></li>
        <li><a href="{{ url_for('trading_support_and_resistance') }}">Trading Support and Reistance</a></li>
        <li><a href="{{ url_for('candlestick_patterns') }}">Candlestick Patterns</a></li>
        <li><a href="{{ url_for('moving_averages') }}">Moving Averages</a></li>
      </ul>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <h1>Buying and Selling Currency Pairs</h1>
      <p>
        The simultaneous purchase of one currency and the sale of another is known as forex trade.
        Currencies are bought and sold in pairs by a broker or dealer. The value of a currency is expressed in comparison to
        another currency.
        The euro and the US dollar (EUR/USD) are two examples, as are the British pound and the Japanese yen (GBP/JPY).
        You buy and sell currency pairs while you deal in the forex market.
      </p>
      <p>
        The relative price of two currencies from two separate countries is known as an exchange rate.
        Exchange rates fluctuate depending on which currency is more powerful at any given time.
      </p>
      <p>
        There are three types of currency Pairs: the majors, the crosses and the exotics.
      </p>
      <p>
        The US dollar is still included in the major currency pairs.
        The US dollar is not used in cross-currency pairs. Crosses involving any of the big currencies are called "minors."
        One major currency and one currency from a developing market make up exotic currency pairs (EM).
      </p>
      <h1>
        Major Currency Pairs
      </h1>
      <p>
        The following currency pairs are known as the "majors."
        They are the most often sold pairs and they all have the US dollar (USD) on one hand.
        Price swings more often with the majors than with crosses and exotics, providing more trade options.
      </p>
      <p>
        The majors are the world's most liquid markets.
        It is calculated in forex based on the number of active traders buying and selling a particular currency pair, as well
        as the amount exchanged.
        The higher the liquidity of something, the more often it is sold.
        The EUR/USD currency pair, for example, is traded with more individuals and in higher amounts than the AUD/USD currency
        pair.
      </p>
      <h1>
        The Exotic Currency Pairs
      </h1>
      <p>
        One main currency is combined with the currency of a developing market, such as Brazil, Mexico, Chile, Turkey, or
        Hungary, to form exotic currency pairs.
      </p>
      <p>
        You can see the following exotic currency pairs depending on your forex broker, so it's important to know what they are.
        Keep in mind that while these pairs aren't as common as the "majors" or "crosses," the transaction costs of exchanging
        them are generally higher.
      </p>
    </div>
  </div>
</div>
{% endblock %}