{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/content_style.css') }}">
{% endblock %}

{% block content %}
<!-- Side Navbar -->
<div class="page-wrapper">
  <div class="content-navbar" id="navbar">
    <div class="navbar_content_container">
      <div class="learn-title">
        <a href="{{ url_for('learn_beginner') }}" id="learn-title">Beginner Content</a>
      </div>

      <ul>
        <li><a href="{{ url_for('buying_and_selling') }}">Buying and Selling</a></li>
        <li><a href="{{ url_for('how_to_make_money') }}">How to Make Money</a></li>
        <li><a href="{{ url_for('pips') }}">Pips</a></li>
        <li><a href="{{ url_for('lot_sizes') }}">Lots</a></li>
        <li><a href="{{ url_for('types_of_orders') }}">Types of Orders</a></li>
        <li><a href="{{ url_for('demo_vs_real') }}">Demo Vs Real</a></li>
        <li><a href="{{ url_for('trading_sessions') }}">Trading Sessions</a></li>
        <li><a href="{{ url_for('candles') }}">Candles</a></li>
      </ul>
      <div class="learn-title">
        <a href="{{ url_for('learn_intermediate') }}" id="learn-title">Intermediate Content</a>
      </div>
      <ul>
        <li><a href="{{ url_for('support_and_resistance') }}">Support and Resistance</a></li>
        <li><a href="{{ url_for('trends') }}">Trends</a></li>
        <li><a href="{{ url_for('trading_support_and_resistance') }}">Trading Support and Reistance</a></li>
        <li><a href="{{ url_for('candlestick_patterns') }}">Candlestick Patterns</a></li>
        <li><a href="{{ url_for('moving_averages') }}">Moving Averages</a></li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <h1>How To Make Money</h1>
      <p>
        What is forex trading and how does it work? You can buy or sell currencies on the forex market.
        It's easy to make a trade in the foreign exchange market. A trade's mechanics are somewhat close to those found in other
        financial markets (such as the stock market), so if you've ever traded before, you should be able to pick it up easily.
        
      </p>
      <h1>
        What Is The Best Way To Make Money Trading Forex?
      </h1>
      <p>
        The aim of forex trading is to swap one currency for another in the hopes of seeing a price change.
        More precisely, that the currency you purchased would appreciate in value in comparison to the one you sold.
      </p>
      <h1>
        How to Read Forex Quotes
      </h1>
      <p>
        Currency pairs, such as GBP/USD or USD/JPY, are often quoted in pairs. Since you are concurrently buying one currency and selling another in a foreign exchange deal, they are quoted in pairs. 
        How do you know which currency you should purchase and which currency you should sell? 
        What a great question! This is where the terms "base" and "quote" currencies come into play...
      </p>
      <h1>Difference between Base and Quote Currency</h1>
      <p>
        You are exchanging one currency for another if you have an open spot in forex trading.
        
        The value of a currency is expressed in comparison to other currencies.
        
        An example of a foreign exchange rate between the British pound and the US dollar is as follows:
      </p>
      <p>
        The base currency is the first mentioned currency to the left of the slash ("/"). (in this example, the British pound).
        The base currency serves as a benchmark for the currency pair's exchange rate. It has a value of one at all times.
        The counter or quote currency is the second listed currency on the right (in this example, the U.S. dollar).
      </p>
      <p>
        The exchange rate informs you how much you'll have to pay in quote currency units to buy ONE unit of the base currency
        while you're shopping. To buy one British pound in the example above, you'll need to pay 1.21228 US dollars.
        When selling, the exchange rate indicates how many units of the quote currency you will get for each unit of the base
        currency you sell.
      </p>
    </div>
  </div>
</div>
{% endblock %}