{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/content_style.css') }}">
{% endblock %}

{% block content %}
<!-- Side Navbar -->
<div class="page-wrapper">
  <div class="content-navbar" id="navbar">
    <div class="navbar_content_container">
      <div class="learn-title">
        <a href="{{ url_for('learn_beginner') }}" id="learn-title">Beginner Content</a>
      </div>

      <ul>
        <li><a href="{{ url_for('buying_and_selling') }}">Buying and Selling</a></li>
        <li><a href="{{ url_for('how_to_make_money') }}">How to Make Money</a></li>
        <li><a href="{{ url_for('pips') }}">Pips</a></li>
        <li><a href="{{ url_for('lot_sizes') }}">Lots</a></li>
        <li><a href="{{ url_for('types_of_orders') }}">Types of Orders</a></li>
        <li><a href="{{ url_for('demo_vs_real') }}">Demo Vs Real</a></li>
        <li><a href="{{ url_for('trading_sessions') }}">Trading Sessions</a></li>
        <li><a href="{{ url_for('candles') }}">Candles</a></li>
      </ul>
      <div class="learn-title">
        <a href="{{ url_for('learn_intermediate') }}" id="learn-title">Intermediate Content</a>
      </div>
      <ul>
        <li><a href="{{ url_for('support_and_resistance') }}">Support and Resistance</a></li>
        <li><a href="{{ url_for('trends') }}">Trends</a></li>
        <li><a href="{{ url_for('trading_support_and_resistance') }}">Trading Support and Reistance</a></li>
        <li><a href="{{ url_for('candlestick_patterns') }}">Candlestick Patterns</a></li>
        <li><a href="{{ url_for('moving_averages') }}">Moving Averages</a></li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <h1>What Is Forex?</h1>
      <p>
        The forex market is where currency transactions take place. Currency is important because goods and services can be purchased locally and across borders. To conduct business and foreign trade, it is necessary to exchange international currencies.
      </p>
      <p>
        The unique feature of this international market is that there is no central foreign exchange market. On the contrary, currency transactions are done electronically through the over-the-counter (OTC), which means that all transactions are conducted through a computer network between global traders, rather than through a centralized exchange. The market is open 24 hours a day, every Monday, Friday, and a half, and currencies are traded globally in major financial centers in London, New York, Tokyo, Zurich, Frankfurt, Hong Kong, Singapore, Paris and Sydney. Every time zone. This means that when the trading day ends in the United States, the foreign exchange markets in Tokyo and Hong Kong begin again. Therefore, the foreign exchange market can be very active at any time of the day, and quotes are constantly changing.
      </p>
      <h1>
        The Different types of forex markets
      </h1>
      <p>
        Spot currency market: The physical exchange of currency pairs occurs at the exact point in time when the transaction is settled, that is, "on the spot", or within a short period of time.
        Forward Currency Market: A contract that agrees to buy or sell a specific amount of currency at a specific price, and the contract will settle on a specific date in the future or within a range of future dates.
        Future currency market: contract that agrees to buy or sell a certain amount of a certain currency at a fixed price and at a future date. Unlike forward contracts, futures contracts are legally binding.
      </p>
      <h1>Who controls the forex market?</h1>
      <p>
        The foreign exchange market is made up of currencies from around the world, which can make forecasting the exchange rate difficult because there are many factors that can cause price changes. However, like most financial markets, currency transactions are primarily driven by supply and demand, so it is important to understand the impact of price fluctuations.
      </p>
      <p>
        Supply is controlled by the central bank, and the central bank may announce measures that will have a significant impact on the price of its currency. For example, quantitative easing involves injecting more funds into the economy and may cause currency prices to fall.
      </p>
      <h1>
        Fundamentals
      </h1>
      <p>
        Commercial banks and other investors tend to invest their capital in promising economies. Therefore, if good news reaches the market in a certain region, it will encourage investment and increase the demand for currency in that region
      </p>
      <h1>
        Forex Spreads
      </h1>
      <p>
        The spread is the difference between the bid price and the ask price of a currency pair quotation. Like many financial markets, when you open a foreign exchange position, you will see two prices. If you want to open a long position, please trade at a bid price slightly higher than the market price. If you want to open a short position, trade at the asking price (slightly lower than the market price).
      </p>
    </div>
  </div>
</div>
{% endblock %}