body {
  background-size: cover;
}
.quiz_wrapper {
  height: 70vh;
  width: 60vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-45%);
  background: rgba(255, 255, 255);
  border: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.upper_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4vw;
  /* margin: 1%; */
  /* background: white; */
  padding: 0px 10px;
  color: black;
}

input[type="submit"]{
  outline: none;
  border: none;
}

.upper_buttons input {
  background: #00ACEE;
  height: 70%;
  width: 20%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.6vw;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.upper_buttons p {
  font-size: 1.3vw;
  background: lightgray;
  padding: 8px;
}
.quiz_question {
  /* background: white; */
  height: 40%;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.quiz_question h3{  
  margin: 30px;
  font-size: 1.5vw;
  height: auto;
  color: black;
  text-align: center;
}
.wrapper {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.quiz_options{
  height: 75%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.quiz_options ul {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}

.img_container{
  width: 40%;
  display: flex;
  justify-content: center;
}
img {
  /* min-height: 300px;
  width: 100%; */
  height: 15vw;
}
.quiz_options li div {
  border: 1px solid blue;
  width: 80%;
  max-height: 60px;
  color: black;
  line-height: 30px;
  height: auto;
  float: right;
  display: flex;
  font-size: 1vw;
  justify-content: center;
  background-color: white;
  /* align-items: center; */
}
.quiz_options form {
  width: 30%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 65%;
}

.radio-toolbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
  height: 60%;
}

.radio-toolbar label {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    color: black;
    min-height: 35px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}
.radio-toolbar input[type="radio"]{
  text-align: center;

}
.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

@media only screen and (max-width: 1160px){
  .radio-toolbar label{
    font-size: smaller;
  }
}