<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
        <title>{{ title }} - Mastering Forex</title>
        {% else %}
        <title>Mastering Forex</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav-bar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheet %}{% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            let modal = document.getElementById("modal");

            function span_click() {
                document.getElementById("modal").style.display='none';
            }

            // Click outside of modal closes it
            window.onclick = function(event) {
                if (event.target != modal) {
                    document.getElementById("modal").style.display='none';
                }
            }

            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        {% block javascript %}{% endblock %}
    </head>
    {% block signin %}{% endblock %}
    <body>
        
        <div class="topnav" id="myTopnav">
            {% if not current_user.is_anonymous %}
            <div class="dropdown">
                <button class="dropbtn" style="color: #d81e5b">{{ current_user.firstname }}
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{{ url_for('profile_page') }}">View Profile</a>
                  <a id="logout" href="{{ url_for('logout') }}">Logout</a>
                </div>
              </div> 
            {% endif %}
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('signup') }}" id="signup" class="nav-contents">Sign Up</a>
            <a href="{{ url_for('signin') }}" class="nav-contents">Sign In</a>
            {% endif %}
            
            {% if current_user.is_authenticated %}
            {% set attempt = current_user.num_attempts %}
            <a href="{{ url_for('results', attemptNum=attempt ) }}" class="nav-contents">Results</a>
            {% else %}
            <a href="{{ url_for('results', attemptNum=0) }}" class="nav-contents">Results</a>
            {% endif %}
            <a href="{{ url_for('quiz', id=1) }}" class="nav-contents">Test Your Knowledge</a>
            <a href="{{ url_for('learn_beginner') }}" class="nav-contents">Learn</a>
            <a href="{{ url_for('index') }}" class="nav-contents">Home</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
          </div>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <!-- The Modal -->
        <div id="modal" class="modal" style="display: block;">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="modal_close" onclick="span_click()">&times;</span>
                {% for message in messages %}
                <li class="messages" style="color: black;list-style-type: none;text-align: center;">{{ message }}</li>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>