{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

<style>
  .welcome {
    background: url("{{ url_for('static', filename='images/home_background.png') }}") no-repeat;
    height: 100vh;
    background-size: cover;
  }
</style>
{% endblock %}


{% block content %}
<section class="welcome">
  <div class="welcome-heading">
    <h2 class="heading">Learn the Fundamentals of Forex Trading with Mastering Forex.</h2>
    <p class="subhead">Escape the classic 9 to 5.</p>
    {% if current_user.is_anonymous %}
    <div class="btns-container">
      <button id="loginBtn"><a href="login.html">Login</a></button>
      <button id="signUpBtn"><a href="signup.html">Sign Up</a></button>
    </div>
    {% endif %}
  </div>
</section>

<section class="description">
  <div class="description-wrapper">
    <div class="purpose-container">
      <div class="purpose-text">
        <h2>What is Forex?</h2>
        <p>
          The Forex market determines the foreign exchange rate for each currency. It provides people with the power to buy, sell and exhange currencies.
        </p>
      </div>
      <div class="image1">
        <img src="{{ url_for('static', filename='images/home_page1.jpg') }}" alt="Forex Title">
      </div>
    </div>
    <div class="purpose-container-reverse">
      <div class="purpose-text-reverse">
        <h2>Why Learn Forex?</h2>
        <p>
          Learn to trade the world's biggest market, allowing you to potentially make money with flexibility.
        </p>
      </div>
      <div class="image2">
        <img src="{{ url_for('static', filename='images/home_page2.jpg') }}" alt="Forex chart">
      </div>
    </div>
    <div class="purpose-container">
      <div class="purpose-text">
        <h2>Make Money Whilst Asleep.</h2>
        <p>Plan your trade, take your trade and sleep peacefully knowing you're making money.
        </p>
      </div>
      <div class="image3">
        <img src="{{ url_for('static', filename='images/home_page3.jpg') }}" alt="Forex Chart with Globe">
      </div>
    </div>
  </div>
</section>
<section class="purpose">
  <div class="purpose-heading">
    <h1>Mastering Forex Aims to Provide the Fundamental Knowledge to Empower the Everday Person</h1>
    <img src="{{ url_for('static', filename='images/purpose_img.jpg') }}" alt="Person Trading Forex">
  </div>
</section>
<section class="footer">
  <div class="disclaimer">
    <p>
      Written by Anders Christensen and Michael Shawkat (2021) for CITS3403 Project.
    </p>
  </div>
</section>
{% endblock %}