{% extends "base.html" %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
<section id="sidebar">
  {% if quizzes %}
  <section class="title-container">
    <h1>Quiz Attempt</h1>
  </section>
  {% endif %}
  <section class="links-container">
    {% for q in quizzes %}
    <div class="links quiz_attempt">
      <a href="#{{q.attemptNumber}}"><span>Attempt {{ q.attemptNumber }}</span></a>
    </div>
    {% endfor %}
    <section class="title-container">
      <h1>Change Details</h1>
    </section>
    <div class="links">
      <a href="#change_password" style="color: #10dfd8;"><span>Change Password</span></a>
    </div>
    <div class="links">
      <a href="#change_email" style="color: #10dfd8;"><span>Change Email</span></a>
    </div>
  </section>
</section>
<section class="quiz_results">
  {% for q in quizzes %}
  <div id="{{ q.attemptNumber }}" class="quiz_info">
    <h1>Attempt {{ q.attemptNumber }}:</h1>
    <h2>For this attempt you achieved: {{ q.result }} out of 20</h2>
    <h2>To view more detailed results for this attempt click <a class="previous_result_link" href="{{ url_for('results', attemptNum=q.attemptNumber) }}">here</a></h2>
  </div>
  {% endfor %}
</section>
<section class="change_details_container">
  <div class="change_details" id = "change_email">
    <div class="change_details_text">
      <h3>Change your Email:</h3>
    </div>
    <div class="inputs">
      <form action="" method="post" novalidate>
        {{ email_form.hidden_tag() }}
        <p>
            {{ email_form.email(size=64, placeholder='New Email') }}<br>
            {% for error in email_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ email_form.submit() }}</p>
      </form>
    </div>
  </div>
  <div class="change_details">
    <div class="change_details_text" id = "change_password">
      <h3>Change your Password:</h3>
    </div>
    <div class="inputs">
      <form action="" method="post" novalidate>
        {{ password_form.hidden_tag() }}
        <p>
            {{ password_form.password(size=32, placeholder='New Password') }}<br>
            {% for error in password_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
          {{ password_form.password2(size=32, placeholder='Confirm Password') }}<br>
          {% for error in password_form.password2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
        <p>{{ password_form.submit() }}</p>
      </form>
    </div>
  </div>


</section>
{% endblock %}