{% extends "base.html" %}


{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="UTF-8">
<style>
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  } 
  .change_details_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 100%;
    /* grid-auto-rows: 1fr; */
    grid-gap: 25px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .change_details {
    padding: 20px 25px;
    transition: 400ms margin-left;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    height: 250px;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
  }
  .change_details_container{
    text-align: center;
  }
  .change_details input[type="text"],
  .change_details input[type="password"],
  .change_details input[type="email"]{
    height: 30px;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
  }
  .change_details input[type="submit"]{
    height: 30px;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 10px;
  }
  /* Chrome Opera and Safari */
  ::-webkit-input-placeholder {
    text-align: center;
  }
  /* Firefox 18 */
  :-moz-placeholder {
    text-align: center;
  }
  .change_details input[type="submit"]:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-2px);
  }
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  .change_details_text {
    width: 100%;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 1100px) {
    .change_details_container{
      grid-template-columns: 100%;
    }
  }
  @media (max-width: 980px) {
    .quiz_results,
    .change_details_container {
      margin: 20px;
    }
  }
</style>
{% endblock %}

{% block content %}
<section class="change_details_container">
  


  <div class="change_details">
    <div class="change_details_text">
      <h3>Change your Email:</h3>
    </div>
    <div class="inputs">
      <form action="" method="post" novalidate>
        {{ email_form.hidden_tag() }}
        <p>
            {{ email_form.email(size=64, placeholder='New Email') }}<br>
            {% for error in email_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ email_form.submit() }}</p>
      </form>
    </div>
  </div>

  <div class="change_details">
    <div class="change_details_text">
      <h3>Change your Password:</h3>
    </div>
    <div class="inputs">
      <form action="" method="post" novalidate>
        {{ password_form.hidden_tag() }}
        <p>
            {{ password_form.password(size=32, placeholder='New Password') }}<br>
            {% for error in password_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
          {{ password_form.password2(size=32, placeholder='Confirm Password') }}<br>
          {% for error in password_form.password2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
        <p>{{ password_form.submit() }}</p>
      </form>
    </div>
  </div>


</section>
{% endblock %}