{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/quiz.css') }}">
<style>
  html {
    background: url("{{ url_for('static', filename='images/quiz_background.jpg') }}") no-repeat;
  }
</style>
{% endblock %}

{% block javascript %}
<script>
  function check_click(){
    //check if they clicked something, if not have an alert
    let clicks = 0;
    for(let i=0; i<4; i++){
      let checker = document.getElementsByClassName('options')[i].checked;
      if(checker){
        clicks++;
      }
    }
    if(clicks != 1){
      alert("You need to select an option!");
    }
  }

  function check_click(){
    //check if they clicked something, if not have an alert
    let clicks = 0;
    for(let i=0; i<4; i++){
      let checker = document.getElementsByClassName('options')[i].checked;
      if(checker){
        clicks++;
      }
    }
    if(clicks != 1){
      alert("You need to select an option!");
    }
  }
</script>
{% endblock %}

{% block content %}
<div class="quiz_wrapper">
  <div class="upper_buttons" >
    <input type="submit" style="visibility: hidden;" />
    <p> Question {{ id }} of {{ numQues }}</p>
    {% if id != numQues %}
    <input type="submit" name="next_btn" id='next_btn' value="Next" form="quiz_form" onclick="check_click()" />    
    {% elif id == numQues %}
    <input type="submit" name="next_btn" id='finish_btn' form="quiz_form"value="Finish" onclick="check_click()" />
    {% endif %}
  </div>
  <div class="wrapper">
    <div class="quiz_question">
      <h3 id ="question_box">{{ q.question }}</h3>
    </div>
    <div class="quiz_options">
      <form method="POST" id = "quiz_form" validate>
        <div class="radio-toolbar">
          <input class="options" type="radio" id="option1" name="options" value="{{q.choice1}}" required>
          <label id="opt1" for="option1">{{ q.choice1 }}</label>

          <input class="options" type="radio" id="option2" name="options" value="{{q.choice2}}" required>
          <label id="opt2" for="option2">{{ q.choice2 }}</label>

          <input class="options" type="radio" id="option3" name="options" value="{{q.choice3}}" required>
          <label id="opt3" for="option3">{{ q.choice3 }}</label>

          <input class="options" type="radio" id="option4" name="options" value="{{q.choice4}}" required>
          <label id="opt4" for="option4">{{ q.choice4 }}</label>
          
        </div>
      </form>
      {% if q.img %}
      <div class="img_container">
        <img src="{{ img }}" alt="Question {{ id }} image">
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}